<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="success page">
    <meta name="author" content="VS">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Payment sent</title>
</head>

<body class="screenCenter">
<table class="rowCenter">
    <tr>
        <td><h2>Success!</h2></td>
    </tr>
    <tr>
        <td>Payment info sent.</td>
    </tr>
    <tr>
        <form action="/" method="get">
            <td class="spaceBefore"><input type="submit" value="Back"/></td>
        </form>
    </tr>
</table>
</body>

</html>
